<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #B5D0F5;
  }

h1{
  color: #1E62F4;
  font-family: courier;
  font-size: 300%;
  text-align:center;
}
h2{
  color: #1344AD;
  font-family: courier;
  font-size: 300%;
  text-align:center;
}

p {
  color: #8123CE;
  font-family: courier;
  font-size: 160%;
  text-align:center;
}

body {
  background-color: #B5D0F5;
  }
</style>
</head>

</html>

