<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #FFE6EE;
  }

h1{
  color: #F46CA2;
  font-family: courier;
  font-size: 300%;
  text-align:center;
}
h2{
  color: #F46CA2;
  font-family: courier;
  font-size: 300%;
  text-align:center;
}

p {
  color: #9F3758;
  font-family: courier;
  font-size: 160%;
  text-align:center;
}
body {
  background-color: #FFE6EE;
  }
</style>
</head>

</html>