<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #C2E2EC;
  }

h1 {
  color: #3261FF;
  font-size: 36px;
  text-align:center;
}

p {
  color: #000000;
  font-size: 20px;
  border: 2px solid powderblue;
  margin: 10px;
  text-align:center;
}

li{
  color: #000000;
  font-size: 20px;
  border: 2px solid powderblue;
  margin: 10px;
  text-align:center;
}


</style>
</html>









